
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<p>
    <ul>
        <li>darcy</li>
        <li>stephen</li>
        <li>anij</li>
        <li>harpreet</li>
        <li>bshanish</li>
        <li>yalcin</li>
    </ul>
</p>

